[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
pymacaroons = "*"
passlib = "*"
bcrypt = "*"
email-validator = "*"
python-dateutil = "*"
pydantic-settings = "*"

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.9"
